:root {
	--blue-color: #00567c;
	--yellow-color: #ede5bb;
	--red-color: #95261f;
	--light-blue-color: #bad3ee;
	--font-circular: "Circular Std Book", "Poppins", sans-serif;
	--font-caveat: "Caveat", cursive;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 15vmin;
}

.bg-yellow {
	background-color: var(--yellow-color);
}

.grid-header {
	display: grid;
	grid-template-columns: 1fr 3fr;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 100;
	border-bottom: var(--red-color) solid .2vw;
}

.pl-5 {
	padding-left: 5vw;
}

.header-text {
	text-decoration: none;
	color: var(--blue-color);	
	font-size: 2vw;
}

.header-menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.dropdown-menu {
	position: relative;
	display: inline-block;
	background-color: transparent;
}

.dropbtn-menu {
	background-color: var(--yellow-color);
	border: none;
	margin-left: 3.7vw;
}

.dropdown-menu-content {
	display: none;
	position: absolute;
	z-index: 1111;
}

.dropdown-menu-content a {
	padding-left: 3vw;
	padding-right: 3vw;
	font-size: 2vw;
	font-family: var(--font-circular);
	color: var(--yellow-color);
	background-color: var(--blue-color);
	margin-bottom: .7vw;
	text-align: center;
	text-decoration: none;
	display: block;
	transition: all .5s ease-in-out;
}  

.dropdown-menu a:hover, .dropdown-menu:focus {
	box-shadow: inset 0 -3.25em 0 0 var(--red-color);
}

.dropbtn-menu:hover {
	cursor: pointer;
}

.dropdown-menu:hover .dropdown-menu-content { 
	display: block;
}

.logo-image {
	width: 19vw;
	height: 10vw;
}

.pl-10 {
	padding-left: 10vw;
}

.font-circular {
	font-family: var(--font-circular);
}

.font-circular-bold {
	font-family: var(--font-circular);
	font-weight: bold;
}

.pl-6 {
	padding-left: 6vw;
}

.text-center {
	text-align: center;
}

.bg-transparent-blue {
	background-color: var(--blue-color / 0.3);
}

.page-image {
	width: 100%;
}

.bg-blue {
	background-color: var(--blue-color);
}

.mb-3 {
	margin-bottom: 3vw;
}

.header-image-text {
	font-size: 4vw;
	color: var(--yellow-color);
}

.align-top {
	align-self: start;
}

.location-map {
	align-items: center;
	width: 80%;
	height: 50vw;
  }

.locationText {
	font-family: var(--font-caveat);
	color: var(--red-color);
	font-size: 45px;
	text-align: center;
}

.location {
	display: flex;
	flex-direction: column;
    align-items: center;
	padding-bottom: 6vh;
}

footer {
	display: grid;

	bottom: 0;
	padding-top: 2vw;
	padding-bottom: 2vw;
	grid-template-columns: 1fr 1fr;
	color: var(--yellow-color);
	background: var(--red-color);
	width: 100vw;
	font-size: 1vw;
}

.footer-left {
	max-width: 15vw;
	text-align: left;
	padding-left: 3vw;
	padding-top: 11vh;
}

.footer-right {
	max-width: 12vw;
	text-align: right;
	justify-self: right;
	padding-right: 3vw;
}

.main-grid {
	margin-top: 5vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 	
	justify-content: space-between;
	align-items: center;
}

.main-subgrid h1 {
	font-size: 5vw;
	font-family: var(--font-caveat);
	color: var(--red-color);
	text-align: center;
}

.main-grid-image {
	object-fit: contain;
	max-height: 100%;
	max-width: 20vw;
}

.main-image {
	grid-row: span 2;
}

.main-grid p {
	margin-top: 4vw;
	max-width: 65vw;
	text-align: center;
	font-size: 1.5vw;
	color: var(--blue-color);
}

#color-1 {
	background-color: var(--blue-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25vh;
	height: 25vh;
}

#color-2 {
	background-color: var(--yellow-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25vh;
	height: 25vh;
}

#color-3 {
	background-color: var(--light-blue-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25vh;
	height: 25vh;
}

#color-4 {
	background-color: var(--red-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25vh;
	height: 25vh;
}

.effect-wrapper {
	z-index: 999;
}

.pr-5 {
	padding-right: 5vw;
}

#main-content {
	display: none;
}

/*Ana -About us- */
#about-us2 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	place-items: center;
	place-content: center;
	width: 60vw;
	margin-left: 30vw;
}
#about-us-font {
	background-color: var(--blue-color);
	text-align: center;
	border-radius: 10%;
	padding: 5%;
	grid-area: 2 / 1 / 2 / 4;
}
#img{
	border-radius: 10%;
	grid-area: 1 / 3 / 4 / 6;
}
#about_us_img{
	width: 30vw;
	height: 37vw;
	border-radius: 10%;
}
#about-us-font p {
	color: var(--yellow-color);
	font-family: var(--font-circular);
	font-size: 1vw;
}
#about-us-font h2{
	font-size: 3vw;
	color: var(--yellow-color);
	font-family: var(--font-circular);
}

#tea {
	margin-bottom: 22vw;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--yellow-color);
}

::-webkit-scrollbar-thumb {
	background: var(--red-color);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--blue-color);
}

::selection {
	color: var(--yellow-color);
	background: var(--red-color);
}

/*Daryl */	
@media only screen and (max-width:360px) {
/* 
	:root {
		--blue-color: #00567c;
		--yellow-color: #ede5bb;
		--red-color: #95261f;
		--font-circular: "Circular Std Book", serif;
		--font-caveat: "Caveat", cursive;
	}

	.bg-yellow {
		background-color: var(--yellow-color);
	}

	.grid-header {
		display: grid;
		grid-template-columns: 1fr 3fr;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		z-index: 100;
	}
	p {
		font-size: 1rem;
	}
	.font-circular {
		font-family: var(--font-circular);
	}
	.header-text{
		font-size: 1rem;
	} */
	#color-1 {
		background-color: var(--blue-color);
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 25vh;
		height: 25vh;
	}
	
	#color-2 {
		background-color: var(--yellow-color);
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 25vh;
		height: 25vh;
	}
	
	#color-3 {
		background-color: var(--light-blue-color);
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 25vh;
		height: 25vh;
	}
	
	#color-4 {
		background-color: var(--red-color);
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 25vh;
		height: 25vh;
	}
/*End Daryl*/
}
/*Tran Thu*/
@media only screen and (max-width: 500px) {
	#about-us2 {
		margin: 5vw;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(3, 1fr);
		place-items: center;
		place-content: center;
		width: 60vw;
	}
		
	#about-us-font {
		background-color: var(--blue-color);
		text-align: center;
		border-radius: 10%;
		padding: 5%;
		grid-area: 2 / 1 / 2 / 4;
	}
	#img{
		border-radius: 10%;
		grid-area: 1 / 3 / 4 / 6;
	}
	#about_us_img{
		width: 80vw;
		height: 120vw;
		border-radius: 10%;
	}
	#about-us-font p {
		color: var(--yellow-color);
		font-family: var(--font-circular);
		font-size: 3vw;
	}
	#about-us-font h2{
		font-size: 5vw;
		color: var(--yellow-color);
		font-family: var(--font-circular);
	}
}

/* menu */

.menu {
	width: 80vw;
	height: 200vw;
	justify-self: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-content: center;
}

.menu-coffee-main-content {
	display: flex;
	padding-left: 20vw;
	width: 60vw;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
}

.menu li {
	list-style: none;
}

.menu-coffee-subheader h1 {
	font-size: 5vw;
	font-family: var(--font-circular);
	color: var(--blue-color);
	text-align: center;
}

.menu-coffee-subheader h3 {
	font-size: 3vw;
	font-family: var(--font-caveat);
	color: var(--red-color);
	text-align: center;
}