:root {
	--blue-color: #00567c;
	--yellow-color: #ede5bb;
	--red-color: #95261f;
	--light-blue-color: #bad3ee;
	--font-circular: "Circular Std Book", "Poppins", sans-serif;
	--font-caveat: "Caveat", cursive;
  }
  
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
  }
  
  body {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 15vmin;
  }
  
  .bg-yellow {
	background-color: var(--yellow-color);
  }
  
  .grid-header {
	display: grid;
	grid-template-columns: 1fr 3fr;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 100;
	border-bottom: var(--red-color) solid 0.2vw;
  }
  
  .pl-5 {
	padding-left: 5vw;
  }
  
  .header-text {
	text-decoration: none;
	color: var(--blue-color);
	font-size: 2vw;
  }
  
  .header-menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
  }

  #illustrations-coffee{
	height: 2vw;
	width: 2vw;
	margin-left: 3dvw;
  }

  #illustrations-pain{
	height: 2vw;
	width: 3.5vw;
	margin-left: 4.6dvw;
  }

  #illustrations-sweets{
	height: 2vw;
	width: 4vw;
	margin-left: 1.7dvw;
  }

  #illustrations-tea{
	height: 2vw;
	width: 2vw;
	margin-left: 6dvw;
  }
  
  .dropdown-menu {
	position: relative;
	display: inline-block;
	background-color: transparent;
  }
  
  .dropbtn-menu {
	background-color: var(--yellow-color);
	border: none;
	margin-left: 3.7vw;
  }
  
  .dropdown-menu-content {
	display: none;
	position: absolute;
	z-index: 1111;
  }
  
  .dropdown-menu-content a {
	padding: .5dvh 0 .5dvh .5dvw;
	font-size: 2vw;
	font-family: var(--font-circular);
	color: var(--yellow-color);
	background-color: var(--blue-color);
	text-decoration: none;
	display: flex;
	transition: all 0.5s ease-in-out;
	margin: 1.5dvh .4dvw;
  }
  
  .dropdown-menu-content a:hover {
	color: var(--yellow-color);
	border-radius: 0.5dvw 0.5dvw 0.5dvw 0.5dvw;
  }
  
  .dropdown-menu:hover .dropdown-menu-content {
	display: block;
	background-color: var(--blue-color);
	overflow: hidden;
	box-shadow: 0 2dvw 18dvw 0 rgba(51, 51, 51, 0.1);
	border-radius: 1dvw 1dvw 1dvw 1dvw;
  }
  
  .dropdown-menu a:hover,
  .dropdown-menu:focus {
	box-shadow: inset 0 -3.25em 0 0 var(--red-color);
  }
  
  .dropbtn-menu:hover {
	cursor: pointer;
  }
  
  .dropdown-menu:hover .dropdown-menu-content {
	display: block;
  }
  
  .logo-image {
	width: 19vw;
	height: 10vw;
  }
  
  .pl-10 {
	padding-left: 10vw;
  }
  
  .font-circular {
	font-family: var(--font-circular);
  }
  
  .font-circular-bold {
	font-family: var(--font-circular);
	font-weight: bold;
  }
  
  .pl-6 {
	padding-left: 6vw;
  }
  
  .text-center {
	text-align: center;
  }
  
  .bg-transparent-blue {
	background-color: var(--blue-color / 0.3);
  }
  
  .page-image {
	width: 100%;
  }
  
  .bg-blue {
	background-color: var(--blue-color);
  }
  
  .mb-3 {
	margin-bottom: 3vw;
  }
  
  .header-image-text {
	font-size: 4vw;
	color: var(--yellow-color);
  }
  
  .align-top {
	align-self: start;
  }

  .mapouter{
	position:relative;
	text-align:right;
	margin-bottom: 10dvw;
	align-items: center;
  }

  .gmap_canvas {
	overflow:hidden;
	background:none!important;
  }

  #gmap_canvas{
	height: 50vw;
	width: 80vw;
	border: none;
  }
  
  .location-text {
	font-family: var(--font-caveat);
	color: var(--red-color);
	padding-bottom: 3vw;
	font-size: 4vw;
	text-align: center;
  }
  
  .location {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 3vw;
  }
  
  footer {
	display: flex;
	color: var(--yellow-color);
	background: var(--red-color);
	font-size: 1vw;
  }
  
  .footer-left {
	text-align: left;
	flex-direction: column;
	padding: 10dvh 0 0 3dvw;
  }
  
  .footer-right {
	text-align: right;
	padding: 3dvh 0 3dvh 72dvw;
	flex-direction: column;
  }
  
  .main-grid {
	margin-top: 5vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
  }
  
  .main-subgrid h1 {
	font-size: 5vw;
	font-family: var(--font-caveat);
	color: var(--red-color);
	text-align: center;
  }
  
  .main-grid-image {
	object-fit: contain;
	width: 30vw;
	padding-bottom: 10vw;
  }
  
  .main-image {
	grid-row: span 2;
	image-rendering: optimizeQuality;
  }
  
  .main-subgrid p {
	margin-top: 4vw;
	max-width: 65vw;
	text-align: center;
	font-size: 1.5vw;
	color: var(--blue-color);
  }
  
  .main-subgrid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .about-us-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 4vw;
	margin-top: 5vw;
  }
  
  .about-us-buttons .button {
	background-color: var(--red-color);
	text-decoration: none;
	border: none;
	padding: 1vw 2vw;
	border-radius: 1vw;
	font-size: 1.6vw;
	font-family: var(--font-circular);
	color: var(--yellow-color);
  }
  
  #color-1 {
	background-color: var(--blue-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25vh;
	height: 25vh;
  }
  
  #color-2 {
	background-color: var(--yellow-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25vh;
	height: 25vh;
  }
  
  #color-3 {
	background-color: var(--light-blue-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25vh;
	height: 25vh;
  }
  
  #color-4 {
	background-color: var(--red-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25vh;
	height: 25vh;
  }
  
  .effect-wrapper {
	z-index: 999;
  }
  
  .pr-5 {
	padding-right: 5vw;
  }
  
  #main-content {
	display: none;
  }
  
  /*Ana -Products- */
  
  .products {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5vw;
  }
  
  .products-header {
	margin: auto;
	width: 100vw;
	margin-bottom: 5vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	gap: 2vw;
  }
  
  .products-header-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .products-header-text h1 {
	font-size: 5vw;
	font-family: var(--font-circular);
	color: var(--blue-color);
	text-align: center;
  }
  
  .products-header-text h3 {
	font-size: 3vw;
	font-family: var(--font-caveat);
	color: var(--red-color);
	text-align: center;
  }
  
  .products-header-img {
	width: 7vw;
  }
  
  .products-featured {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 80vw;
	gap: 2vw;
  }
  
  .products-featured-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1vw;
	width: 15vw;
	height: 25vw;
	border-radius: 1vw;
	background-color: white;
  }
  
  .products-featured-top {
	font-size: 1vw;
	font-family: var(--font-circular);
	color: var(--yellow-color);
	background-color: var(--blue-color);
	width: max-content;
	padding: 0.2vw 0.5vw;
	border-radius: 0.3vw;
  }
  
  .products-featured-img {
	width: 100%;
	border-radius: 1vw;
  }
  
  .featured-bottom > p {
	font-size: 1vw;
	font-family: var(--font-circular);
	color: var(--blue-color);
	width: 100%;
	text-align: left;
	border-bottom: solid var(--blue-color) 0.1vw;
  }
  
  .pricing {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  }
  
  .pricing div {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
  }
  
  .pricing s {
	font-size: 0.85vw;
	font-family: var(--font-circular);
	color: gray;
	margin-right: 0.2vw;
  }
  
  .pricing p {
	font-size: 1vw;
	font-family: var(--font-circular);
	color: var(--blue-color);
  }
  
  .pricing > p {
	font-size: 0.8vw !important;
  }
  
  .offer {
	background-color: var(--blue-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10vw 0;
  }

  .Yellow-bg #Yellow{
	height: auto; 
	width: 100%; 
	z-index: 0; 
	margin-top: -110dvh;
  }
  
  .offer-header {
	margin: auto;
	width: 100vw;
	margin-bottom: 5vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 5vw;
	align-items: flex-end;
	flex-wrap: nowrap;
	gap: 2vw;
	z-index: 1;
  }
  
  .offer-header-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	z-index: 1;
  }
  
  .offer-header-text h1 {
	font-size: 2vw;
	font-family: var(--font-circular);
	color: var(--yellow-color);
	text-align: left;
	z-index: 1;
  }
  
  .offer-header-text h3 {
	font-size: 3vw;
	font-family: var(--font-caveat);
	color: var(--light-blue-color);
	text-align: left;
	z-index: 1;
  }
  
  .offer-header-button {
	background-color: var(--red-color);
	text-decoration: none;
	border: none;
	padding: 1vw 2vw;
	border-radius: 1vw;
	font-size: 1.6vw;
	font-family: var(--font-circular);
	color: var(--yellow-color);
	z-index: 1;
  }
  
  .offer-header-button {
	cursor: pointer;
  }
  
  .offer-items {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 80vw;
	gap: 2vw;
	z-index: 1;
  }
  
  /*-About us-*/
  #about-us2 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, .7fr);
	place-items: center;
	place-content: center;
	width: 60vw;
	margin-left: 20vw;
	margin-top: -8vw;
  }
  #about-us-font {
	background-color: var(--blue-color);
	text-align: center;
	border-radius: 1.1vw;
	padding: 5%;
	grid-area: 2 / 1 / 2 / 4;
  }
  #img {
	border-radius: 1.1vw;
	grid-area: 1 / 3 / 4 / 6;
  }
  #about_us_img {
	width: 30vw;
	height: 37vw;
	border-radius: 1.1vw;
  }
  #about-us-font p {
	color: var(--yellow-color);
	font-family: var(--font-circular);
	font-size: 1.5vw;
	text-align: justify;
  }
  #about-us-font h2 {
	font-size: 3vw;
	color: var(--yellow-color);
	font-family: var(--font-circular);
  }
  
  /*Ana -end of part- */
  
  #tea {
	margin-bottom: 22vw;
  }
  
  ::-webkit-scrollbar {
	width: 10px;
  }
  
  ::-webkit-scrollbar-track {
	background: var(--yellow-color);
  }
  
  ::-webkit-scrollbar-thumb {
	background: var(--red-color);
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: var(--blue-color);
  }
  
  ::selection {
	color: var(--yellow-color);
	background: var(--red-color);
  }
  
  #color-1 {
	background-color: var(--blue-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25vh;
	height: 25vh;
  }
  
  #color-2 {
	background-color: var(--yellow-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25vh;
	height: 25vh;
  }
  
  #color-3 {
	background-color: var(--light-blue-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25vh;
	height: 25vh;
  }
  
  #color-4 {
	background-color: var(--red-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25vh;
	height: 25vh;
  }
  /*End Daryl*/
  
  
  @media only screen and (max-width: 500px) {
	* {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}
	.text-settings {
	  font-size: 3vw !important;
	}
	.text-settings-header {
	  font-size: 5vw !important;
	}
  
	.size-to-fill {
	  padding: 0 !important;
	}
	.header-margin {
	  margin-top: 5%;
	  margin-left: 5%;
	}
	.header-margin-second {
	  margin-top: 5%;
	  margin-right: 5%;
	}
	.content-discription-margin-first {
	  margin-left: 5%;
	  margin-bottom: 5%;
	  margin-right: 40%;
	}
	.content-discription-margin-second {
	  margin-left: 40%;
	  margin-bottom: 5%;
	  margin-right: 5%;
	}
  
	#about-us2 {
	  margin: 5vw;
	  display: grid;
	  grid-template-columns: repeat(5, 1fr);
	  grid-template-rows: repeat(3, 1fr);
	  place-items: center;
	  place-content: center;
	  width: 60vw;
	}
  
	#about-us-font {
	  background-color: var(--blue-color);
	  text-align: center;
	  border-radius: 1.1vw;
	  padding: 5%;
	  grid-area: 2 / 1 / 2 / 4;
	}
	#img {
	  border-radius: 1.1vw;
	  grid-area: 1 / 3 / 4 / 6;
	}
	#about_us_img {
	  width: 80vw;
	  height: 120vw;
	  border-radius: 1.1vw;
	}
	#about-us-font p {
	  color: var(--yellow-color);
	  font-family: var(--font-circular);
	  font-size: 3vw;
	}
	#about-us-font h2 {
	  font-size: 5vw;
	  color: var(--yellow-color);
	  font-family: var(--font-circular);
	}
  
	.menu-coffee-header {
	  display: grid;
	  grid-template-columns: repeat(5, 1fr);
	  width: 100%;
	  background-color: var(--red-color);
	  margin-top: 26vw;
	}
  }
  
  /* menu */
  
  .menu {
	height: 100%;
	justify-self: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-content: center;
	width: 100%;
  }
  
  .menu-main-content {
	display: flex;
	padding-left: 26vw;
	width: 74vw;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
  }
  
  .menu li {
	list-style: none;
	font-size: 2vw;
	font-family: var(--font-circular);
	color: var(--red-color);
  }
  
  .menu-subheader h1 {
	font-size: 5vw;
	font-family: var(--font-circular);
	color: var(--blue-color);
	text-align: center;
  }
  
  .menu-subheader h3 {
	font-size: 3vw;
	font-family: var(--font-caveat);
	color: var(--red-color);
	text-align: center;
  }
  
  .menu-coffee-header {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: 100%;
	background-color: var(--red-color);
	margin-top: auto;
  }
  
  .menu-coffee-header h2 {
	font-size: 6vw;
	font-family: var(--font-caveat);
	color: var(--yellow-color);
	text-align: left;
  }
  
  .subhdr {
	display: flex;
	flex-direction: column;
	grid-column: 1 / span 3;
	padding-left: 3vw;
	justify-content: space-evenly;
  }
  
  .menu-coffee-header img {
	width: 30vw;
	grid-column-start: 5;
  }
  
  .menu-coffee-header p {
	font-family: var(--font-circular);
	color: var(--yellow-color);
	text-align: left;
	font-size: 1.2vw;
  }
  
  .menu-prices li {
	text-align: right;
  }
  
  .menu-pain-header {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	width: 100%;
	background-color: var(--light-blue-color);
  }
  
  .menu-pain-header img {
	width: 30vw;
	grid-column-start: 1;
	grid-row-start: 1;
  }
  
  .header-pain {
	display: flex;
	flex-direction: column;
	grid-column: 3 / span 3;
	padding-right: 3vw;
	justify-content: space-evenly;
  }
  
  .menu-pain-header h2 {
	font-size: 6vw;
	font-family: var(--font-caveat);
	color: var(--blue-color);
	text-align: right;
  }
  
  .menu-pain-header p {
	font-family: var(--font-circular);
	color: var(--blue-color);
	text-align: right;
	font-size: 1.2vw;
  }
  
  .menu-sweets-header {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: 100%;
	background-color: var(--yellow-color);
  }
  
  .menu-sweets-header img {
	width: 30vw;
	grid-column-start: 5;
  }
  .menu-sweets-header h2 {
	font-size: 6vw;
	font-family: var(--font-caveat);
	color: var(--red-color);
	text-align: left;
  }
  
  .menu-sweets-header p {
	font-family: var(--font-circular);
	color: var(--red-color);
	text-align: left;
	font-size: 1.2vw;
  }
  
  .menu-tea-header {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	width: 100%;
	background-color: var(--blue-color);
  }
  
  .menu-tea-header img {
	width: 30vw;
	grid-column-start: 1;
	grid-row-start: 1;
  }
  .menu-tea-header h2 {
	font-size: 6vw;
	font-family: var(--font-caveat);
	color: var(--yellow-color);
	text-align: right;
  }
  
  .menu-tea-header p {
	font-family: var(--font-circular);
	color: var(--yellow-color);
	text-align: right;
	font-size: 1.2vw;
  }
  
  .subcategory {
	padding-left: 1vw;
	font-size: 1vw !important;
  }
  /* PATTERN CHAOS*/
  .bg-pattern {
	position: absolute;
	top: 50vw;
	z-index: -1;
  }
  
  .different {
	position: absolute;
	object-fit: contain;
	top: 30vw;
	z-index: 0;
	size: 5vw;
  }
  #y1 {
	position: absolute;
	top: 75vw;
	left: -54vw;
	width: 15vw;
	height: 15vw;
	z-index: -1;
	transform: rotate(-20deg);
  }
  #y2 {
	position: absolute;
	top: 69vw;
	left: 28vw;
	width: 25vw;
	height: 25vw;
	z-index: -1;
	transform: rotate(20deg);
  }
  #y3 {
	position: absolute;
	top: 72vw;
	left: -25vw;
	width: 17vw;
	height: 17vw;
	z-index: -1;
	transform: rotate(-10deg);
  }
  
  #y4 {
	position: absolute;
	top: 76vw;
	left: 1vw;
	width: 19vw;
	height: 19vw;
	z-index: -1;
	transform: rotate(20deg);
  }
  #y6 {
	position: absolute;
	top: 116vw;
	left: 34vw;
	width: 20vw;
	height: 20vw;
	z-index: -1;
	transform: rotate(20deg);
  }
  #y7 {
	position: absolute;
	top: 117vw;
	left: -30vw;
	width: 25vw;
	height: 25vw;
	z-index: -1;
	transform: rotate(-10deg);
  }
  #y8 {
	position: absolute;
	top: 112vw;
	left: -53vw;
	width: 20vw;
	height: 20vw;
	z-index: -1;
	transform: rotate(20deg);
  }
  #y9 {
	position: absolute;
	top: 124vw;
	left: 5vw;
	width: 18vw;
	height: 18vw;
	z-index: -1;
	transform: rotate(-10deg);
  }
  .circles{
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -100;
}

.circles li{
	position: fixed;
	display: block;
	list-style: none;
	width: 2vw;
	height: 0;
	opacity: 0.4;
	animation: animate 25s linear infinite;
	bottom: -10vw;
}

.circles li:nth-child(1){
	left: 25%;
	width: 5vw;
	height: 5vw;
	animation-delay: 0s;
	background: rgba(0, 86, 124, .4);
}


.circles li:nth-child(2){
	left: 10%;
	width: 2vw;
	height: 2vw;
	animation-delay: 2s;
	animation-duration: 12s;
	background: rgba(149, 38, 31, .4);
}

.circles li:nth-child(3){
	left: 70%;
	width: 2vw;
	height: 2vw;
	animation-delay: 4s;
	background: rgba(0, 86, 124, .4);
}

.circles li:nth-child(4){
	left: 40%;
	width: 4vw;
	height: 4vw;
	animation-delay: 0s;
	animation-duration: 18s;
	background: rgba(149, 38, 31, .4);
}

.circles li:nth-child(5){
	left: 65%;
	width: 2vw;
	height: 2vw;
	animation-delay: 0s;
	background: rgba(149, 38, 31, .4);
}

.circles li:nth-child(6){
	left: 75%;
	width: 8vw;
	height: 8vw;
	animation-delay: 3s;
	background: rgba(0, 86, 124, .4);
}

.circles li:nth-child(7){
	left: 35%;
	width: 10vw;
	height: 10vw;
	animation-delay: 7s;
	background: rgba(149, 38, 31, .4);
}

.circles li:nth-child(8){
	left: 50%;
	width: 2vw;
	height: 2vw;
	animation-delay: 15s;
	animation-duration: 45s;
	background: rgba(149, 38, 31, .4);
}

.circles li:nth-child(9){
	left: 20%;
	width: 1.7vw;
	height: 1.7vw;
	animation-delay: 2s;
	animation-duration: 35s;
	background: rgba(0, 86, 124, .4);
}

.circles li:nth-child(10){
	left: 85%;
	width: 11vw;
	height: 11vw;
	animation-delay: 0s;
	animation-duration: 11s;
	background: rgba(0, 86, 124, .4);
}

@keyframes animate {

	0%{
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100%{
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}

}
  