:root {
	--blue-color: #00567c;
	--yellow-color: #ede5bb;
	--red-color: #95261f;
	--light-blue-color: #bad3ee;
	--font-circular: "Circular Std Book", "Poppins", sans-serif;
	--font-caveat: "Caveat", cursive;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 15vmin;
}

.bg-yellow {
	background-color: var(--yellow-color);
}

.grid-header {
	display: grid;
	grid-template-columns: 1fr 3fr;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 100;
	border-bottom: var(--red-color) solid .2vw;
}

.pl-5 {
	padding-left: 5vw;
}

.header-text {
	text-decoration: none;
	color: var(--blue-color);	
	font-size: 2vw;
}

.header-menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.dropdown-menu {
	position: relative;
	display: inline-block;
	background-color: transparent;
}

.dropbtn-menu {
	background-color: var(--yellow-color);
	border: none;
	margin-left: 3.7vw;
}

.dropdown-menu-content {
	display: none;
	position: absolute;
	z-index: 1111;
}

.dropdown-menu-content a {
	padding-left: 3vw;
	padding-right: 3vw;
	font-size: 2vw;
	font-family: var(--font-circular);
	color: var(--yellow-color);
	background-color: var(--blue-color);
	margin-bottom: .7vw;
	text-align: center;
	text-decoration: none;
	display: block;
	transition: all .5s ease-in-out;
}  

.dropdown-menu a:hover, .dropdown-menu:focus {
	box-shadow: inset 0 -3.25em 0 0 var(--red-color);
}

.dropbtn-menu:hover {
	cursor: pointer;
}

.dropdown-menu:hover .dropdown-menu-content { 
	display: block;
}

.logo-image {
	width: 19vw;
	height: 10vw;
}

.pl-10 {
	padding-left: 10vw;
}

.font-circular {
	font-family: var(--font-circular);
}

.font-circular-bold {
	font-family: var(--font-circular);
	font-weight: bold;
}

.pl-6 {
	padding-left: 6vw;
}

.text-center {
	text-align: center;
}

.bg-transparent-blue {
	background-color: var(--blue-color / 0.3);
}

.page-image {
	width: 100%;
}

.bg-blue {
	background-color: var(--blue-color);
}

.mb-3 {
	margin-bottom: 3vw;
}

.header-image-text {
	font-size: 4vw;
	color: var(--yellow-color);
}

.align-top {
	align-self: start;
}

.location-map {
	align-items: center;
	width: 80%;
	height: 50vw;
	margin-bottom: 20vw;
  }

.location-text {
	font-family: var(--font-caveat);
	color: var(--red-color);
	padding-bottom: 3vw;
	font-size: 4vw;
	text-align: center;
	margin-top: 40vw;
}

.location {
	display: flex;
	flex-direction: column;
    align-items: center;
	padding-bottom: 6vh;
}

footer {
	display: grid;

	bottom: 0;
	padding-top: 2vw;
	padding-bottom: 2vw;
	grid-template-columns: 1fr 1fr;
	color: var(--yellow-color);
	background: var(--red-color);
	width: 100vw;
	font-size: 1vw;
}

.footer-left {
	max-width: 15vw;
	text-align: left;
	padding-left: 3vw;
	padding-top: 11vh;
}

.footer-right {
	max-width: 12vw;
	text-align: right;
	justify-self: right;
	padding-right: 3vw;
}

.main-grid {
	margin-top: 5vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 	
	justify-content: space-between;
	align-items: center;
}

.main-subgrid h1 {
	font-size: 5vw;
	font-family: var(--font-caveat);
	color: var(--red-color);
	text-align: center;
}

.main-grid-image {
	object-fit: contain;
	max-height: 200%;
	max-width: 30vw;
}

.main-image {
	grid-row: span 2;
	image-rendering: optimizeQuality;
}

.main-subgrid p {
	margin-top: 4vw;
	max-width: 65vw;
	text-align: center;
	font-size: 1.5vw;
	color: var(--blue-color);
}

#color-1 {
	background-color: var(--blue-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25vh;
	height: 25vh;
}

#color-2 {
	background-color: var(--yellow-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25vh;
	height: 25vh;
}

#color-3 {
	background-color: var(--light-blue-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25vh;
	height: 25vh;
}

#color-4 {
	background-color: var(--red-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25vh;
	height: 25vh;
}

.effect-wrapper {
	z-index: 999;
}

.pr-5 {
	padding-right: 5vw;
}

#main-content {
	display: none;
}

/*Ana -Products- */

#products_section{
	display:flex;
	justify-content: center;
	align-content: center;
	flex-flow: column wrap;
	padding-bottom: 5vw;
	width: 100%;
	gap: 0.5vw;
}

#categories{
	text-align: center;
	font-size: 3vw;
	font-family: var(--font-caveat);
	color: var(--red-color);
}
#red_coffee{
	inset-inline-end: auto;
	width: 6vw;
	height: 6vw;
	object-fit: contain;
}

#products_header{
	text-align: center;
	inset-inline-start: auto;
 	font-size: 5vw;
 	font-family: var(--font-circular);
 	color: var(--blue-color);
}

#product_row1{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	gap: 0.9vw;
	padding-bottom: 1.5vw;
}

#product_row2{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	gap: 0.9vw;
}
#product_highlight{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, 1fr);
	padding-right: 10vw;
	width: 100%;
	background-color: var(--blue-color);
	grid-row: inline;
	
}

#hl_header{
	z-index: 10;
	grid-area: 1 / 1 / 1 / 6;
	padding-top: 7vw;
	padding-left: 13vw;
}

#hl_Offer{
	font-family: var(--font-caveat);
	font-size: 3vw;
	color: var(--light-blue-color);
}

#hl_sign{
	font-family: var(--font-circular);
	font-size: 3vw;
	color: var(--yellow-color);
}
.bg-patterns{
	z-index: 5;
	grid-area: 1 / 1 / 6 / 7
}

.bg-obj{
object-fit: fill;
}

#product_row3{
	place-items: center;
	z-index: 10;
	grid-area: 3 / 1 / 1/ 7;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	gap: 0.9vw;
	padding-bottom: 1.5vw;
	padding-left: 11.7%;
}

.product{
	padding: 1vw;
	flex-flow: column nowrap;
	border-radius: 15px;
	background-color: white;
}

.tag{
	color: var(--yellow-color);
	background-color: var(--blue-color);
	border-radius: 5px;
	width: max-content;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	padding-top: 0.2vw;
	padding-bottom: 0.2vw;
	font-size: max-content 1vw;
	font-family: var(--font-circular);
}

.product_img{
	image-rendering: auto;
}

.croissant1{
	image-rendering: auto;
	padding-top: 2.83vw;
	padding-bottom: 3vw;
}
.croissant2{
	image-rendering: auto;
	padding-top: 4.2vw;
	padding-bottom: 3vw;
}

.macaron1{
	padding-left: 1.2vw;
	padding-right: 1.2vw;
	padding-top: 5.3vw;
	padding-bottom: 5vw;
	image-rendering: auto;
}
.macaron2{
	padding-left: 1.2vw;
	padding-right: 1.2vw;
	padding-top: 5vw;
	padding-bottom: 3.4vw;
	image-rendering: auto;
}

.americano{
	width: 219px;
	height: 219px;
	image-rendering: auto;
}

.product_name{
	color: var(--blue-color);
	font-family: var(--font-circular);
}

.price_raiting{
	display: flex;
	justify-content:center;
	flex-flow: nowrap row;
	border-top: solid gainsboro;
}

.old_price{
	font-size: max-content 1vw;
	padding-right: 1vw;
	color: rgb(198, 198, 198);
	font-family: var(--font-circular);
}

.new_price{
	color: var(--blue-color);
	font-size: max-content 1vw;
	padding-right: 5vw;
	font-family: var(--font-circular);
}

.raiting{
	font-family: var(--font-circular);
	font-size: max-content 1vw;
	color: rgb(250, 180, 16);
}

/*-About us-*/
#about-us2 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	place-items: center;
	place-content: center;
	width: 60vw;
	margin-left: 20vw;
}
#about-us-font {
	background-color: var(--blue-color);
	text-align: center;
	border-radius: 15px;
	padding: 5%;
	grid-area: 2 / 1 / 2 / 4;
}
#img{
	border-radius: 15px;
	grid-area: 1 / 3 / 4 / 6;
}
#about_us_img{
	width: 30vw;
	height: 37vw;
	border-radius: 15px;
}
#about-us-font p {
	color: var(--yellow-color);
	font-family: var(--font-circular);
	font-size: 1.5vw;
}
#about-us-font h2{
	font-size: 3vw;
	color: var(--yellow-color);
	font-family: var(--font-circular);
}

/*Ana -end of part- */

#tea {
	margin-bottom: 22vw;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--yellow-color);
}

::-webkit-scrollbar-thumb {
	background: var(--red-color);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--blue-color);
}

::selection {
	color: var(--yellow-color);
	background: var(--red-color);
}

	#color-1 {
		background-color: var(--blue-color);
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 25vh;
		height: 25vh;
	}
	
	#color-2 {
		background-color: var(--yellow-color);
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 25vh;
		height: 25vh;
	}
	
	#color-3 {
		background-color: var(--light-blue-color);
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 25vh;
		height: 25vh;
	}
	
	#color-4 {
		background-color: var(--red-color);
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 25vh;
		height: 25vh;
	}

/*Tran Thu*/

@media only screen and (max-width: 500px) {
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.text-settings{
		font-size: 3vw !important;
	}
	.text-settings-header{
		font-size: 5vw !important;
	}

	.size-to-fill{
		padding: 0!important;
	}
	.header-margin{
		margin-top: 5%;
		margin-left: 5%;
	}
	.header-margin-second{
		margin-top: 5%;
		margin-right: 5%;
	}
	.content-discription-margin-first{
		margin-left: 5%;
		margin-bottom: 5%;
		margin-right: 40%;
	}
	.content-discription-margin-second{
		margin-left: 40%;
		margin-bottom: 5%;
		margin-right: 5%;
	}

	

	#about-us2 {
		margin: 5vw;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(3, 1fr);
		place-items: center;
		place-content: center;
		width: 60vw;
	}
		
	#about-us-font {
		background-color: var(--blue-color);
		text-align: center;
		border-radius: 15px;
		padding: 5%;
		grid-area: 2 / 1 / 2 / 4;
	}
	#img{
		border-radius: 15px;
		grid-area: 1 / 3 / 4 / 6;
	}
	#about_us_img{
		width: 80vw;
		height: 120vw;
		border-radius: 15px;
	}
	#about-us-font p {
		color: var(--yellow-color);
		font-family: var(--font-circular);
		font-size: 3vw;
	}
	#about-us-font h2{
		font-size: 5vw;
		color: var(--yellow-color);
		font-family: var(--font-circular);
	}
}

/* menu */

.menu {
	height: 220vw;
	justify-self: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-content: center;
}

.menu-main-content {
	display: flex;
	padding-left: 26vw;
	width: 74vw;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
}

.menu li {
	list-style: none;
	font-size: 2vw;
	font-family: var(--font-circular);
	color: var(--red-color);
}

.menu-subheader h1 {
	font-size: 5vw;
	font-family: var(--font-circular);
	color: var(--blue-color);
	text-align: center;
}

.menu-subheader h3 {
	font-size: 3vw;
	font-family: var(--font-caveat);
	color: var(--red-color);
	text-align: center;
}

.menu-coffee-header {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	width: 100%;
	background-color: var(--red-color);
	margin-top: 110vh;
}

.menu-coffee-header h2 {
	font-size: 6vw;
	font-family: var(--font-caveat);
	color: var(--yellow-color);
	text-align: left;
}

.subhdr {
	display: flex;
	flex-direction: column;
	grid-column: 1/ span 2;
	margin: 10vh 0 0 10vw;
}

.menu-coffee-header img{
	width: 30vw;
	grid-column-start: 5;
}

.menu-coffee-header p {
	font-family: var(--font-circular);
	color: var(--yellow-color);
	text-align: left;
	font-size: 1.2vw;
}

.menu-prices li {
	text-align: right;
}

.menu-pain-header {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: 1fr;
	width: 100%;
	background-color: var(--light-blue-color);
}

.menu-pain-header img{
	width: 30vw;
	grid-column-start: 1;
	grid-row-start: 1;
}

.header-pain {
	display: flex;
	flex-direction: column;
	grid-column: 3/ span 2;
	margin: 5vh 0 0 10vw;
}

.menu-pain-header h2 {
	font-size: 6vw;
	font-family: var(--font-caveat);
	color: var(--blue-color);
	text-align: right;
}

.menu-pain-header p {
	font-family: var(--font-circular);
	color: var(--blue-color);
	text-align: right;
	font-size: 1.2vw;
}

.menu-sweets-header {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	width: 100%;
	background-color: var(--yellow-color);
}

.menu-sweets-header img{
	width: 30vw;
	grid-column-start: 5;
}

.menu-sweets-header h2 {
	font-size: 6vw;
	font-family: var(--font-caveat);
	color: var(--red-color);
	text-align: left;
}

.menu-sweets-header p {
	font-family: var(--font-circular);
	color: var(--red-color);
	text-align: left;
	font-size: 1.2vw;
}

.menu-tea-header {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: 1fr;
	width: 100%;
	background-color: var(--blue-color);
}

.menu-tea-header img{
	width: 30vw;
	grid-column-start: 1;
	grid-row-start: 1;
}

.menu-tea-header h2 {
	font-size: 6vw;
	font-family: var(--font-caveat);
	color: var(--yellow-color);
	text-align: right;
}

.menu-tea-header p {
	font-family: var(--font-circular);
	color: var(--yellow-color);
	text-align: right;
	font-size: 1.2vw;
}

.subcategory {
	padding-left: 1vw;
	font-size: 1vw !important;
}
