/*header*/
body{
    background: #EDE5BB;
    overflow-x: hidden;
}
.header{
    width: 100%;
    height: 70px;
    z-index: 1000;
    box-shadow: 0px 2px 18px 0px rgba(51, 51, 51, 0.1);
    background: #EDE5BB;
    position: fixed;
}
#logo{
    width: 140px;
    height: 70px;
    translate: 0 -15px;
}
.sub-header{
    justify-content: left;
}
@font-face {
    font-family: "Circular Std";
    src: url(../OUI/circular.otf) format("opentype");
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    text-align: center;
}
/*drop down menu*/
.dropbtn{
    color: #00657C;
    cursor: pointer;
    font-family: Circular Std;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    padding: 10px;
    translate: 80px -16px;
}
.dropbtn:hover{
    border-bottom: solid #BAD3EE 6px;
}
.dropdown{
    position: relative;
    padding-left: 200px;
}
  
.dropdown-content{
    display: none;
    border-radius: 10px 10px 10px 10px;
    font-family: Circular Std;
}
.dropdown-content a{
    color: #EDE5BB;
    text-decoration: none;
    display: block;
    font-size: medium;
}
  
.dropdown-content a:hover{
    background-color: #EDE5BB;
    color: #95261F;
    margin: 4px;
    top: 4px;
    bottom: 4px;
    left: 2px;
    right: 2px;
    border-radius: 10px 10px 10px 10px;
}
  
.dropdown:hover .dropdown-content{
    display: block;
    background-color: #95261F;
    overflow: hidden;
    box-shadow: 0px 2px 18px 0px rgba(51, 51, 51, 0.1);
    border-radius: 10px 10px 10px 10px;
    translate: 80px -5px;
}
.dropdown:hover .dropbtn{
    width: 80px;
    height: 25px;
}
/*menu page*/
.menu{
    width: 100%;
    height: 300px;
    display: flex;
}
/*background*/
#red-bg{
    background: #95261F;
    translate: 0 100px;
}
#light-blue-bg{
    background: #BAD3EE;
    translate: 0 -1590px;
}
#yellow-bg{
    background: #EDE5BB;
    translate: 0 -2670px;
}
#blue-bg{
    background: #00657C;
    translate: 0 -7340px;
}
/*menu title on the coloured blocks*/
.menu-title{
    font-family: "Caveat";
    font-size: 85px;
    font-weight: 700;
    margin: 20px 20px;
}
#coffee-title{
    translate: 35px 0;
    color: #EDE5BB;
}
#pain-title{
    translate: 1030px 0;
    color: #00657C;
}
#sweet-title{
    translate: 35px -540px;
    color: #95261F;
}
#tea-title{
    translate: 1030px 0;
    color: #EDE5BB;
}
/*menu content on the coloured blocks*/
.menu-content{
    text-align: justify;
    font-family: "Circular Std";
    font-size: 24px;
    width: 577px;
    height: 150px;
    display: flex;
}
#coffee-content{
    translate: -150px 100px;
    color: #EDE5BB;
}
#pain-content{
    translate: 435px 100px;
    color: #00657C;
}
#sweet-content{
    translate: -150px -430px;
    color: #95261F;
}
#tea-content{
    translate: 435px 100px;
    color: #EDE5BB;
}
/*pictures on the coloured blocks*/
#coffee-removedbg{
    width: 441px;
    height: 450px;
    translate: 50px -140px;
}
#croissant-removedbg{
    width: 470px;
    height: 300px;
    translate: -747px 0;
}
#macaron-bg{
    width: 470px;
    height: 300px;
    translate: 10px -550px;
}
#tea-bg{
    width: 470px;
    height: 300px;
    translate: -747px 0;
}
/*menu title*/
.catagories{
    color: #95261F;
    font-family: "Caveat";
    font-size: 48px;
    font-weight: 400;
}
#drinks-title{
    translate: 575px 150px;
}
#croissant-title{
    translate: 575px -1520px;
}
#sweets-food-title{
    translate: 585px -3180px;
}
.types-of-products{
    color: #274C5B;
    text-align: center;
    font-family: "Circular Std";
    font-size: 64px;
    font-weight: 500;
}
#cold-drinks-title{
    translate: 0 100px;
}
#croissant-et-pain-title{
    translate: 0 -1560px;
}
#sweet{
    translate: 0 -3255px;
}
#tea-red-title{
    translate: 570px -7250px;
}
#tea{
    translate: 0 -7310px;
}
/*products information*/
.products{
    width: 715px;
    height: 717px;
    color: #95261F;
    font-family: "Circular Std";
    font-size: 48px;
    font-weight: 450;
}
#drinks-price{
    translate: 260px 40px;
    text-align: right;
}
#croissant-price{
    translate: 260px -1600px;
    text-align: right;
}
#sweet-price{
    translate: 260px -3320px;
    text-align: right;
}
#sweet-prices{
    translate: 260px -3610px;
    text-align: right;
}
#drinks{
    translate: 200px -735px;
    z-index: 1000;
}
#croissant{
    translate: 200px -2370px;
}
#macaron{
    translate: 150px -4850px;
}
#vanilla{
    translate: 180px -6320px;
}
#paris{
    translate: 150px -5140px;
}
#tea-price{
    translate: 820px -7330px;
}
#tea-menu{
    translate: 300px -8100px;
}
#black-tea{
    translate: 370px -8780px;
}
/*illustrations background*/
#coffee-illustration-bg{
    z-index: -1000;
    translate: -25px -1700px;
}
#pain-illustration-bg{
    z-index: -1000;
    translate: -25px -3330px;
}
#sweet-illutration-bg{
    z-index: -1000;
    translate: -25px -7400px;
}
#tea-illustration-bg{
    z-index: -1000;
    translate: -25px -9900px;
}
/*footer*/
#contact{
    width: 1233px;
    height: 231px;
    display: flex;
    color: #00657C;
    text-align: center;
    font-family: Circular Std;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    translate: 55px -10000px;
}